@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FDFAF6;
}

label {
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

form {
    padding: 2rem;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #EFEFEF;
}

th {
    padding: 1rem 2rem;
    text-align: center;
    font-size: 14px;
    background-color: #171717;
    color: #DEDEDE;
    font-weight: normal;
}

td {
    padding: 1rem 2rem;
    text-align: center;
    font-size: 14px;
}

.form-element {
    margin-bottom: 20px;
}

.form-element > input:disabled {
    background-color: #DEDEDE;
    opacity: 0.3;
}

.form-element > input {
    margin-top: 0.2rem;
    padding: 0.7rem 0.5rem;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #DEDEDE;
    font-size: 16px;
    letter-spacing: 1px;
}